Tema3DTD/Ejercicio1DTD.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT minecraftItems (item+)>
<!ATTLIST minecraftItems lang CDATA #REQUIRED>
<!ELEMENT item (id, name, type, rarity, (damage | defensa)?, durabilidad, description)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT rarity (#PCDATA)>
<!ELEMENT damage (#PCDATA)>
<!ELEMENT defensa (#PCDATA)>
<!ELEMENT durabilidad (#PCDATA)>
<!ELEMENT description (#PCDATA)>